@import "layout.css";
/*_________const________*/
.header {
  display: block;
  width: 100%;
  background: url("../assets/header-bg.png") 100%, no-repeat;
  background-size: cover;
  /*______callback-form_______*/
  /*______callback-form END_______*/
  /*_____language-button_______*/
}
.header__callback {
  display: block;
  width: 300px;
  height: 193px;
  position: fixed;
  top: 336px;
  right: -230px;
  box-shadow: 0 25px 43px rgba(15, 17, 19, 0.16);
  border-radius: 2px;
  background-color: #555555;
  z-index: 2;
}
.header__callback:hover {
  right: 0;
  transition: 0.5s;
}
.header__callback p {
  position: absolute;
  transform: rotate(-90deg);
  margin-top: 90px;
  margin-left: -45px;
  font-family: "PF Din Display Pro", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}
.header__callback-form {
  display: block;
  margin-top: 50px;
  margin-left: 90px;
}
.header__callback-input {
  display: block;
  margin-bottom: 10px;
  padding: 5px 0;
  clear: left;
  float: left;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #a7d2db;
  outline: none;
}
.header__callback-input.-submit {
  margin-top: 10px;
  padding: 5px 10px;
  color: #555555;
  background-color: rgba(250, 245, 248, 0.74);
  border: 1px solid #7dd3df;
  border-radius: 2px;
}
.header__callback-input.-submit:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.7s;
}
.header__navigation-menu {
  display: block;
  max-width: 1080px;
  margin-left: 648px;
}
@media all and (max-width: 1900px) {
  .header__navigation-menu {
    margin: 0 auto;
  }
}
.header__main-menu {
  display: inline-block;
  padding-left: 0;
  margin-top: 53px;
  margin-bottom: 30px;
}
.header__menu-item {
  display: inline-block;
  margin-right: 32px;
}
.header__menu-item:first-child a {
  color: #a7d2db;
  padding-left: 3px;
}
.header__menu-item:last-child {
  margin-right: 30px;
}
.header__menu-item a {
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.65px;
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
}
.header__menu-item a:hover {
  color: #5271a3;
  transition: 0.5s;
}
.header__change-language {
  display: inline-block;
  border: none;
  background: transparent;
  color: #a7d2db;
}
.header__change-language:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__charters-menu {
  display: block;
  padding-left: 0;
}
.header__charter-type {
  display: inline-block;
  max-width: 190px;
  border-right: 1px solid rgba(85, 85, 85, 0.2);
  vertical-align: top;
  padding-left: 50px;
}
.header__charter-type:first-child {
  max-width: 105px;
  padding-left: 0;
  padding-right: 47px;
}
.header__charter-type:nth-child(2) {
  padding-right: 42px;
}
.header__charter-type:nth-child(3) {
  padding-right: 47px;
}
.header__charter-type:nth-child(4) {
  padding-right: 43px;
}
.header__charter-type:nth-child(5) {
  padding-right: 52px;
}
.header__charter-type:nth-child(5) a {
  color: #a7d2db;
}
.header__charter-type:last-child {
  border: none;
}
.header__charter-type a {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.65px;
  font-family: "PF Din Display Pro", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
}
.header__charter-type a:hover {
  color: #5271a3;
  transition: 0.5s;
}
.header__general-description {
  padding-bottom: 118px;
}
.header__general-banner {
  display: block;
  margin-top: 111px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "PF Din Display Pro - Medium", sans-serif;
  font-size: 104px;
  line-height: 105px;
  font-weight: 500;
  text-transform: uppercase;
}
.header__about-flight-container {
  display: block;
  max-width: 1080px;
  margin-left: 503px;
}
@media all and (max-width: 1900px) {
  .header__about-flight-container {
    margin: 0 auto;
  }
}
.header__svg-line {
  display: inline-block;
  margin: 7px 19px 0 65px;
  padding-top: 7px;
  width: 71px;
  height: 2px;
  vertical-align: top;
}
.header__about-flight {
  display: inline-block;
  max-width: 790px;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.header__actual-flights {
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 27px;
  color: #a7d2db;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 33px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
.header__actual-flights:after {
  position: absolute;
  margin-left: 10px;
  zoom: 0.8;
  content: "►";
  z-index: 1;
}
.header__additional-info {
  clear: both;
  display: block;
  max-width: 1270px;
  margin: 0 auto;
  padding-bottom: 45px;
  font-family: "PF Din Display Pro - Thin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.advantages {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #a7d2db;
  flex-wrap: wrap;
  padding-top: 110px;
  padding-bottom: 125px;
}
.advantages__item {
  display: block;
  max-width: 320px;
  margin: 20px 40px;
}
.advantages__item:before {
  position: absolute;
  transform: rotate(-90deg);
  margin-top: 50px;
  margin-left: -110px;
  content: "___  01";
  color: #fefefe;
  font-family: "PF Din Display Pro - Black", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.advantages__item:nth-child(2):before {
  content: "___  02";
}
.advantages__item:nth-child(3):before {
  content: "___  03";
}
.advantages__item:last-child:before {
  content: "___  04";
}
.advantages__item-name {
  margin: 0;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 21px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages__description {
  margin: 0;
  font-family: "PF Din Display Pro - Thin", sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
}
.table-flights {
  display: block;
  width: 100%;
  padding-bottom: 117px;
  background: url("../assets/main-bg.png") 100%, no-repeat;
  background-size: cover;
}
.table-flights__banner {
  margin: 0;
  padding-top: 87px;
  padding-bottom: 20px;
  font-family: "PF Din Display Pro - Extra Thin", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 21.6px;
  text-align: center;
}
.table-flights__svg-line-vertical {
  display: block;
  width: 1px;
  height: 30px;
  margin: 0 auto;
  opacity: 0.7;
}
.table-flights__schedule {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 24px;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
}
.table-flights__svg-triangle {
  display: block;
  width: 34px;
  height: 19px;
  margin: 0 auto;
}
.table-flights__table {
  display: block;
  max-width: 1215px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 100px;
  border-collapse: collapse;
}
.table-flights__table-first-row {
  margin: 20px 0 31px 40px;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.table-flights__table-first-row td {
  width: 300px;
  padding-left: 40px;
  text-align: left;
  border-bottom: 2px solid #d7d7d7;
}
.table-flights__table-first-row td:first-child {
  width: 316px;
}
.table-flights__table-first-row td:nth-child(2) {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
.table-flights__table-first-row td:nth-child(3) {
  border-right: 1px solid #d7d7d7;
}
.table-flights__table-row {
  color: #555555;
}
.table-flights__table-row:hover {
  color: #a7d2db;
  text-decoration: underline;
}
.table-flights__table-row td {
  width: 300px;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 40px;
  text-align: left;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
}
.table-flights__table-row td:first-child {
  width: 316px;
}
.table-flights__table-row td:nth-child(2) {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
.table-flights__table-row td:nth-child(3) {
  border-right: 1px solid #d7d7d7;
}
.table-flights__table-row:hover .table-flights__order-button {
  color: #a7d2db;
  text-decoration: underline;
}
.table-flights__order-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
}
.table-flights__order-button:hover {
  color: #a7d2db;
  text-decoration: underline;
}
.table-flights__more-flights {
  display: block;
  width: 181px;
  height: 54px;
  margin: 0 auto;
  padding-left: 30px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background-color: #c4e5ec;
  font-family: "PF Din Display Pro", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #555555;
  text-align: left;
}
.table-flights__more-flights:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid #5d5d5d;
}
.table-flights__more-flights:after {
  position: absolute;
  content: "►";
  zoom: 0.8;
  color: #555555;
  margin-left: 20px;
}
.contact-us {
  display: block;
  width: 100%;
  background-color: #1c1c1c;
}
.contact-us__title {
  padding-top: 81px;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  font-family: "PF Din Display Pro - Extra Thin", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 21.6px;
  color: #464646;
}
.contact-us__svg-line-vertical {
  display: block;
  width: 1px;
  height: 30px;
  margin: 0 auto;
  opacity: 0.7;
}
.contact-us__social-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-us__data-box {
  display: block;
  max-width: 290px;
}
.contact-us__data-box.-in-center {
  margin-left: 202px;
  margin-right: 125px;
}
.contact-us__icon {
  display: block;
  position: absolute;
  margin-top: 73px;
  width: 21px;
  height: 29px;
  background: url("../assets/icons.png");
}
.contact-us__icon.-phone {
  background-position: -20px 0;
}
.contact-us__icon.-fax {
  width: 32px;
  height: 29px;
  margin-top: 26px;
  background-position: -65px 0;
}
.contact-us__icon.-mail {
  width: 28px;
  height: 29px;
  background-position: -40px 0;
}
.contact-us__name {
  margin: 64px 0 16px 25px;
  font-family: "PF Din Display Pro - Thin", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3.6px;
  line-height: 48px;
  text-transform: uppercase;
}
.contact-us__name.-fax-margin {
  margin-top: 46px;
  margin-left: 36px;
}
.contact-us__name.-mail-margin {
  margin-left: 33px;
}
.contact-us__contact-data {
  margin-top: 0px;
  font-family: "PF Din Display Pro", sans-serif;
  color: #7e7e7e;
  font-size: 28px;
  font-weight: 500;
}
.contact-us__copyright {
  display: block;
  width: 100%;
  padding-top: 115px;
  min-height: 200px;
  background-color: #1c1c1c;
}
.contact-us__date {
  display: block;
  margin-bottom: 47px;
  margin-left: 360px;
  float: left;
  clear: left;
  font-family: "PF Din Display Pro - Thin", sans-serif;
  opacity: 0.44;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.contact-us__apelsun {
  display: block;
  margin-right: 371px;
  margin-bottom: 42px;
  float: right;
  clear: right;
  font-family: "PF Din Display Pro - Thin", sans-serif;
  opacity: 0.44;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.contact-us__apelsun:after {
  display: block;
  position: absolute;
  margin-top: -30px;
  margin-left: 212px;
  content: url("../assets/apelsun-logo.png");
}
