*,
*:before,
*:after {
  box-sizing: border-box;
}
/*______fonts_______*/
@font-face {
  font-family: "PF Din Display Pro", sans-serif;
  src: url("../fonts/pfdindisplaypro-reg.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PF Din Display Pro - Medium", sans-serif;
  src: url("../fonts/pfdindisplaypro-med.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PF Din Display Pro - Black", sans-serif;
  src: url("../fonts/pfdindisplaypro-black.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PF Din Display Pro - Thin", sans-serif;
  src: url("../fonts/pfdindisplaypro-thin.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PF Din Display Pro - Extra Thin", sans-serif;
  src: url("../fonts/pfdindisplaypro-xthin.ttf");
  font-weight: 400;
  font-style: normal;
}
/*______fonts end______*/
body {
  margin: 0 auto;
  color: #555555;
}
